{% extends 'shop/base.html' %}
{% block title %}Checkout{% endblock %}

{% block content %}
    <h1>The Checkout Page</h1>

    <p>Please fill in your address and choose a payment method:</p>

    <button id="showAddressForm" class="btn btn-primary">Add Address</button>

    <form id="addressForm" action="#" method="post" style="display: none;">
        {% csrf_token %}
        <!-- Address input fields -->
        <div id="addressFields" style="display: none;">
            <label for="street">Street:</label>
            <input type="text" id="street" name="street" required><br><br>

            <label for="streetNumber">Street Number:</label>
            <input type="text" id="streetNumber" name="streetNumber" required><br><br>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" required><br><br>

            <label for="postalCode">Postal Code:</label>
            <input type="text" id="postalCode" name="postalCode" required><br><br>

            <label for="country">Country:</label>
            <input type="text" id="country" name="country" required><br><br>
        </div>

        <!-- Payment method selection -->
        <label for="paymentMethod">Payment Method:</label>
        <select id="paymentMethod" name="paymentMethod">
            <option value="credit-card">Credit Card</option>
            <option value="paypal">PayPal</option>
            <option value="bank-transfer">Bank Transfer</option>
        </select><br><br>

         <a href="{% url 'shop:order_success_no_id' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Proceed to Payment</a>
    </form>
    </form>

    <script>
        document.getElementById('showAddressForm').addEventListener('click', function () {
            document.getElementById('addressFields').style.display = 'block';
            document.getElementById('addressForm').style.display = 'block';
        });
    </script>
{% endblock %}

